In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix,accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [5]:
iris = pd.read_csv(r"C:\Users\LENOVO\Documents\iris.csv")

In [6]:
iris

   unnamed  0  sepal.length  sepal.width  petal.length  petal.width species
0        0  1           5.1          3.5           1.4          0.2  setosa
1        1  2           4.9          3.0           1.4          0.2  setosa
2        2  3           4.7          3.2           1.3          0.2  setosa
3        3  4           4.6          3.1           1.5          0.2  setosa
4        4  5           5.0          3.6           1.4          0.2  setosa

In [8]:
iris=iris.drop(['unnamed'],axis=1)

In [9]:
iris

   0  sepal.length  sepal.width  petal.length  petal.width species
0  1           5.1          3.5           1.4          0.2  setosa
1  2           4.9          3.0           1.4          0.2  setosa
2  3           4.7          3.2           1.3          0.2  setosa
3  4           4.6          3.1           1.5          0.2  setosa
4  5           5.0          3.6           1.4          0.2  setosa

In [11]:
iris=iris.drop(['0'],axis=1)

In [12]:
iris

   sepal.length  sepal.width  petal.length  petal.width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [13]:
iris.shape

(5, 5)

In [14]:
iris.species.unique()

array(['setosa'], dtype=object)

In [15]:
colnames=list(iris.columns)
colnames

['sepal.length', 'sepal.width', 'petal.length', 'petal.width', 'species']

In [17]:
input=colnames[:4]
input
output=colnames[4]
output

'species'

In [18]:
iris.shape
len(iris)

5

In [19]:
np.random.uniform(0,3,10)

array([1.40676422, 1.77492167, 0.07381395, 1.36042161, 0.12797147,
       1.40765347, 1.50989227, 2.13051997, 2.447796  , 2.88071664])

In [20]:
iris['is_train']=np.random.uniform(0,3,len(iris))<=0.75
iris.tail()

   sepal.length  sepal.width  petal.length  petal.width species  is_train
0           5.1          3.5           1.4          0.2  setosa     False
1           4.9          3.0           1.4          0.2  setosa     False
2           4.7          3.2           1.3          0.2  setosa     False
3           4.6          3.1           1.5          0.2  setosa      True
4           5.0          3.6           1.4          0.2  setosa      True

In [22]:
train,test=iris[iris['is_train']==True],iris[iris['is_train']==False]
train.shape

(2, 6)

In [23]:
train1,test1=train_test_split(iris,test_size=0.2)
test1.shape

(1, 6)

In [24]:
input1=train1.iloc[:,:4]
output1=train1.iloc[:,4]
testip=test1.iloc[:,:4]
testop=test1.iloc[:,4]
print(input1.shape)
print(output1.shape)
print(testip.shape)
print(testop.shape)

(4, 4)
(4,)
(1, 4)
(1,)

In [25]:
dtree=DecisionTreeClassifier(criterion='entropy')
dtree.fit(input1,output1)
preds=dtree.predict(testip)
preds

array(['setosa'], dtype=object)

In [29]:
type(preds)
preds
preds1=pd.DataFrame(preds)
type(preds1)

pandas.core.frame.DataFrame

In [34]:
pd.Series(testop).value_counts()

setosa    1
Name: species, dtype: int64

In [35]:
confusion_matrix(testop,preds)

array([[1]], dtype=int64)

In [36]:
3/10

0.3

In [37]:
accuracy_score(testop,preds)

1.0

In [38]:
np.mean(preds==testop)

1.0